
:root{
  --dark: #121212;
  --white: #ffffff;
  --white_100: rgba(255, 255, 255, 0.048);
  --scrollbar-thumb-hover: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--white);
  color: var(--dark);
}

::-webkit-scrollbar {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
}

::-webkit-scrollbar-thumb:hover {
  background: var( --white_100);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--dark);
}