.label-animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s, transform 0.2s;
  display: inline-block;
}

.label-animate-hide {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s, transform 0.2s;
  display: inline-block;
}